.flightInformation-wrapper{
    display:flex;
    flex-direction: column;
    background-color:rgb(209, 208, 208);
    height:auto;
    width:14vw;
    border-radius:7px;
   background-color: white;
   border:1px solid black;
}
.flightInformation-header{
    width:100% ;
    height:4vh;
      display: flex;
      justify-content: start;
      gap:16%;
      background-color:#303030;
     color:white;
      align-items: center;
      border-top-left-radius: 7px;
      border-top-right-radius:7px;
  }
  .fi1{
      width:12%;
      height:100%;
      display:flex;
      
  }
  .fi1 button{
      border:none;
      width:100%;
      height:100%;
      background-color:#303030;
      color:white;
      border-top-left-radius: 7px;
  }
  .fi2{
      display:flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius:7px;
  }
  .fi2 span{
      font-size:20px;
      font-family:'Open Sans';
  }
  .flightInformation-origin{
    color:black;
    display: flex;
    justify-content:start;
    align-items:center;  

gap:10%}
.fi-o1 {
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
.fi-o2{
background-color: azure;
}
  .wrapper-for-flight-information{
    border-bottom: 1px solid black ;
  }
  .fd{
     height:80vh;
     overflow: scroll;
  }