.searching-wrapper{
    flex: 1 1 0%;
    display:flex;
    flex-direction: column;
    top: 75px;
    right:170px;
    height:100vh;
    width:17vw;
    border-radius:8px;
   background-color: white;
   position:absolute;
   box-shadow: 5px 5px  10px  black;
}
.weather-searching{
    width:100%;
    /* background-color: pink; */
    background-color: rgb(233, 226, 226);
    height:40%;
    overflow: scroll;
    border-top-left-radius:8px;
    border-top-right-radius:8px ;
}
.w-s-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#6D6D6D;
    color:white;
    border-top-left-radius:8px;
    border-top-right-radius:8px ;
  padding:8px;
}
.w-s-header span{
    font-size: 20px;
    font-weight:600;
}

.w-s-body {
    background-color: white;
   height:30%;
   margin:10px 15px 0px 15px;
   border-radius:10px;

}
