.h1 {
    height: 4.5rem;
    width: 100%;
    align-items: center;
    display: flex;
   
    background: linear-gradient(to bottom, rgba(18,18,18,0.9), rgba(18,18,18,0.6), rgba(18,18,18,0.3), rgba(255, 255, 255, 0.3)); 
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 5000;
    background-color:skyblue;
}



.h2{
    margin-top:5px;
    display: flex;
    justify-content:end;
    align-items: center;
    width:55%;
    
    height:100%;
    overflow: hidden;
}
.h2 img{
   height:80px;
   background-color: transparent;
   margin-top:5px;

}
.h4{
    background-color: transparent;
}
.h5{
    width:45%;
    display: flex;
   justify-content:end;
   align-items: center;
    gap:6%;
    
}
.h3{
    height:2.5rem;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius:10px;
    
}
.h3 img{
   height:89%;
   width: 100%;
   border: none;
   background-color: transparent;
   border-radius: 8px;
 
}

.h3 span{
    font-size:20px;
    font-weight:600;
    color:rgb(60, 57, 57);
}
.h3 input{
    height:3.5vh;
    width:12vw;
    border:none;
    border-radius: 8px;
    
}
.h3 input:focus{
    outline: none;
}

.h4{
   margin-right:7%;
   background-color: transparent;
}
.h4 button{
    height:auto;
    width:auto;
    background-color:rgb(248, 192, 35) ;
    color:black;
   border-radius: 6px;
    box-sizing: border-box;
    font-size:20px;
    font-weight:600;
    outline:none;
    font-family: 'Kaushan Script', cursive;
border:none;

}
.h4 button:hover{
    background-color:rgb(248, 192, 35) ;
    color:black
}
.h7{
    display: flex;
    flex-direction: column;
     justify-content: center;
      align-items: center;

    }

    .weather-details-ww{
        
        position: absolute;
        top: 75px;
        right:170px;
        width: 250px;
        background-color: rgb(209, 208, 208);
        border-radius: 10px;
        box-shadow: 5px 5px 10px black;
       
        font-family: Arial, sans-serif;
        z-index: 1000;
      }
      .weather-ww1{
        background-color: white;
      margin:10px;
        border-radius: 10px;
        border:2px solid  rgb(248, 192, 35);
        padding-left:8px;
      }
      .weather-ww1 h3{
        color:#0071BC;
        margin-bottom:5px;
        text-decoration: underline;
        font-weight: 600;
        font-size:1.25rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
      .weather-ww1 p{
         margin:4px;
      }
    @media  (max-width:545px) {
        .h2{
            justify-content:start;
        }
        .h2 img{
         
         height:85px;
        
        }
        .h3 img{
            height:25px;
            width:30px;
        }
        .h3 span{
            font-size: 17px;
        }
        .weather-details{
            right:15%;
     width: 200px;
        }
        .weather-details-ww{
            right:15%;
             top:90px;
        }
    }
    @media (min-width:768px) and (max-width:1022px)
    {
        .weather-details-ww{
            right:15%;
             top:90px;
        }
    }
    @media (min-width:1023px){
        .weather-details-ww{
            right:5%;
            top:90px;
        
        }
    }