.searchbar-wrapper {
  position: absolute;
  top: 75px;
  right: 170px;
  width: 260px;
  height: auto;
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  font-family: Arial, sans-serif;
  z-index: 1000;
  box-shadow: 5px 5px 10px black;
}

/* .search_shortcuts {
  background-color: rgb(209, 208, 208);
  padding: 5px;
  background-color: rgb(209, 208, 208);
  padding: 5px;
  display: flex
;
  align-items: center;
  justify-content: space-between; */
/* } */

  .search_shortcuts button {
    border: none;
    font-size: 1rem;
    height: 28px;
    width: 29px;
  border:none;
  font-size: 1.5rem;;
  text-align: center;
  background-color: rgb(209, 208, 208);
}
.search_shortcuts{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
  margin-bottom: 10px;;
}
.search-shortcut-span{
  
  font-weight: 600;
    color: #333;
}
.search-shortcut-btn{
  display:flex ;
  justify-content:center ;
  align-items: center;
}
.search-shortcut-btn button{
  background-color: rgb(209, 208, 208)
}
.search_shortcuts h2 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  margin:0px;
}

.searchbar-options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searchbar-options ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease-in-out;
  background-color: rgb(255, 255, 255);
}

.searchbar-options ul li:hover {
  background-color: rgb(248, 192, 35);
}

.searchbar-options ul li img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.weather-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 260px;
  min-height: 100px;
  max-height: 90vh;
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  padding-top: 55px;
  font-family: Arial, sans-serif;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

@media (max-width: 545px) {
  .searchbar-wrapper {
    right: 15%;
    width: 200px;
  }
}
