/* Ensure the entire page has height */
/* html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
} */

/* Make the MapContainer fill the screen */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-view {
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  bottom: 1px;
  touch-action: none;
  height: 100%;
}
.earthquake-tooltip strong {
  font-size: 1rem;
  padding: 0;
}
.earthquake-tooltip p {
  color: red;
}
.leaf1 {
  height: 100vh !important;
  width: 100vw !important;
  position: relative;
  z-index: 1;
}
.leaf1-control-zoom-in,
.leaf1-control-zoom-out {
  top: 10px;
  background-color: #2c2f33;
  color: #f9d342;
  font-size: 22px;
  border-radius: 8px;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}

.leaf1-control-zoom-in:hover,
.leaf1-control-zoom-out:hover {
  transform: scale(1.1);
  background-color: #f9d342;
  color: #2c2f33;
}
.leaflet-popup-content {
  width: auto !important;
  margin: 2px !important;
  padding: 2px !important;
  display: flex;
  flex-direction: column;
  gap: 5px !important;
}

.popup {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1 !important;
}
.popup h2 {
  margin: 2px;
  padding: 2px;
  color: green;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: 16px;
}
.leaflet-container a.leaflet-popup-close-button {
  font-size: 1.5rem;
  color: #121212;
}
.popup span {
  display: inline;
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap; /* Optional: prevents line break if space is tight */
}
.linear-gradient-body {
  padding: 0;
  margin: 0;
}

@keyframes moveMarker {
  from {
    left: var(--start-left);
    top: var(--start-top);
  }
  to {
    left: var(--end-left);
    top: var(--end-top);
  }
}

.map-click-blocker {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0); /* Transparent but clickable */
  pointer-events: all !important;
}

.my-custom-marker-class {
  position: absolute;
  animation: moveMarker 1s ease-in-out forwards;
  will-change: left, top;
  /* transition: 60s ease !important; */
}

/* 


*/

.flight-wrapper {
  transition: 60s ease !important;
  transform-origin: center center;
}
