.signup-wrapper-component {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.login-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(90%);
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-container {
  width: 320px;
  background: rgba(0, 0, 0, 0.85);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
}
