.custom-zoom {
    position: fixed;
    top: 20%;
    right:0.5%;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    
  }
  
  .btn{
    background-color: #2c2f33;
    color: #eeede7;
    font-size: 35px;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
    pointer-events: auto;
  }
  .alert1{
    border-radius: 20px;
    background-color: #f2f5f8;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .opacity-off img{
   height:32px;
   width:32px;
   display:flex;
   justify-content: center;
   align-items: center;
   opacity: 0.5;

  }
  .opacity-on{
    background-color:white;
    color:yellow;
    border-radius: 25px;
    width: 49px;
    height: 49px;
    box-shadow: 4px 4px 6px black;
    transition: transform 0.2s ease;
  }
  .opacity-off{
    border-radius: 24px;
    background-color: #2c2f33;
    width: 45px;
    height: 45px;
    box-shadow: 1 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
  }
  .opacity-on img{
    height:32px;
    width:32px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity:1;
    border-radius: 20px;
   
   }
  .alert2{
    border-radius: 20px;
    background-color: #777a7e;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }

  
  .custom-zoom button:hover {
   
  color: #f9d342;
   
  }
  
 