.custom-zoom {
    position: fixed;
    top: 20%;
    right:0.5%;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    
  }
  
  .custom-zoom button {
    background-color: #2c2f33;
    color: #eeede7;
    font-size: 35px;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
    pointer-events: auto;
  }
  .alert1{
    border-radius: 20px;
    background-color: #f2f5f8;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .alert1 img{
   height:40px;
   width:40px;
   pointer-events:auto;
  }
  .alert2{
    border-radius: 20px;
    background-color: #777a7e;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }
  .alert2 img{
   height:40px;
   width:40px;
   pointer-events:auto;
  }
  
  
  .custom-zoom button:hover {
    transform: scale(1.1);
  color: #f9d342;
   
  }
  
  .alert1 img:hover{
    transform: scale(1.1);
  }
  .alert2 img:hover{
    transform: scale(1.1);
  }