.weather-container-wrapper {
  position: absolute;
  top: 60px;
  right: 0;
  width: 280px;
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 12px;
  font-family: Arial, sans-serif;
  z-index: 1000;
  box-shadow: 5px 5px 10px black;
}


.weather-container-wrapper input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}


.locations-list {
  margin-top: 10px;
  background-color: rgb(209, 208, 208);
  padding: 8px;
  border-radius: 6px;
}

.locations-list h3 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}


.custom-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s ease-in-out;
  background-color: rgb(255, 255, 255);
}


.custom-item:hover {
  background-color:aqua;
}

.weather-details {
  margin-top: 12px;
  padding: 8px;
  background-color: #fff;
  border-radius: 6px;
}

.weather-details h2 {
  font-size: 16px;
  color: #333;
}

.weather-details p {
  font-size: 14px;
  margin: 4px 0;
  color: #555;
}
.scroll-weather {
 width: 100%;
 max-height: 200px;
 overflow-y: auto; 
 overflow-x: hidden; 
 display: flex;
 flex-direction: column;
}