.mini-map-wrapper {
  height: 40vh;
  width: 21rem;
  background-color: rgb(57, 57, 57);
  box-sizing: border-box;
  position: fixed;
  top: 10px;
  left: 0px;
  border-radius: 11px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:solid 2px black;

  margin-top:20%;

}

.mini-map-header {
  width: 100%;
  height: 5vh;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color:white;
  z-index:10;
}
.leaf2{
  border-radius:11px;
  width:100%;
  height:100%;
  object-fit: cover;
}

.mini-map-h2 {
  margin: 0;
}

.mini-map-button {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 2%;
}

.mini-map-button button {
  height: 1rem;
  width: 2rem;
  background-color: rgb(57 57 57);
  border: none;
}

.mini-map-button img {
  width: 100%;
  height: 100%;
}

.mini-map-view {
  height: 100%;
  width: 100%;
  background-color: rgb(209 208 208);
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom: solid 2px black;
  /*overflow: hidden; */
}
