.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  background-color: #121212;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

.header-container img {
  height: 41px;
  width: 126px;
  margin-left: 825px;
}

.search-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 140px;
  background: white;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.search-container input {
  border: none;
  outline: none;
  border-radius: 3px;
  width: 256px;
  height: 13px;
  padding: 5px;
  background-color: white;
  color: #121212;
}

.search-container img {
  height: 32px;
  margin-left: 5px;
  width: 27px;
}

.user-profile {
  display: flex;
  gap: 10px; /* Adds spacing between children */
  align-items: center;
  margin-right: 38px;
}

/* Search Options - Hidden by Default */
.search-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  display: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Show search options when input is focused */
.weather-details{
  position: absolute;
  top: 60px;
  right: 0;
  width: 280px;
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 12px;
  font-family: Arial, sans-serif;
  z-index: 1000;
}