.earthquake-details-wrapper{
    width:100%;
    right:0;
    height: auto;
    background-color:#fff;
    display:flex;
    flex-direction:column;
    box-sizing:border-box;
    z-index:999;
   bottom:0;
    position:absolute;
    background-color:white;
    overflow: hidden;
    z-index:2000;
    border-radius: 10px;


}
.earthquake-content-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
   text-decoration: underline;
    height:auto;
    width:auto;
    padding:6px;
    padding-left:15px;
    padding-top:12px;
    font-size:25px;
    color:#0071BC;
    font-weight:600;
    font-family:'Times New Roman', Times, serif;
}
.details-in-body{
 display:flex;
 flex-direction: column;
 

}
.time-detail{
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content:left;
  font-size: 1.2rem;
   color:darkgray;
    
}
.time{
    height:auto;
    width:33%;
    color:#777777;
    display:flex;
    justify-content: center;
  

}
.time h5{
    margin:0;
    
    
}
.time-content{
    width:60%;
    height:auto;
    display:flex;
    color:#000000;
   
}
.time-content h5{
    margin:0;
}
.location-detail{
    margin-top:5px;
  
    justify-content:left;
    display: flex;
    font-size: 1.2rem;
     
}
.location{
    height:auto;
    width:33%;
    display:flex;
    justify-content: center;
    color:#777777;
}
.location-content h5{
    margin:0;  
}
.location h5{
    margin:0;
}
.location-content{
    width:60%;
    color:#000000;
}


.depth-detail{
    margin-top:5px;
    
    justify-content:left;
    display: flex;
    font-size: 1.2rem;
    
}
.depth{
    height:auto;
    width:33%;
  
    display:flex;
    justify-content: center;
    color:#777777;
 
}
.depth-content h5{
    margin:0;
    width:60%
    
}
.depth h5{
    margin:0;
}
.close{
    margin-top:8px;
    margin-bottom:5px;
    height:3vh;
    display:flex;
    justify-content: end;
}
.close button{
    margin-right:20px;
    margin-bottom:20px;
    background-color: #3D5E80;
    color:white;
    width:65px;
    height:2.5vh;
    font-size: 1rem;
    font-weight: 600;

}
@media  (max-width:545px) {
    .earthquake-details-wrapper {
   height:auto;
   width:auto;
    }
   
    
   }